<h1>Liste des clients</h1>
<hr/>

      	<form>
      	<i class="glyphicon glyphicon-search"></i>
        <input type="text" ng-model="recherche">         
        </form>

<table class="table table-striped">
  <thead>
  	<tr>
  		<th style="text-align:center">Nom</th>
  		<th style="text-align:center">Prenom</th>
  		<th style="text-align:center">Num</th>
  		<th style="text-align:center">Rue</th>
  		<th style="text-align:center">Code Postal</th>
  		<th style="text-align:center">Ville</th>
  		<th style="text-align:center">Tel. perso</th>
  		<th style="text-align:center">Operations</th>
  	</tr>
  </thead>
  <tbody>
  	<tr	ng-repeat="cl in listeClients | filter: recherche | orderBy: 'nom' ">
  		<td>{{cl.nom}}</td>
  		<td>{{cl.prenom}}</td>
  		<td>{{cl.adresse.numero}}</td>
  		<td>{{cl.adresse.rue}}</td>
  		<td>{{cl.adresse.codePostal}}</td>
  		<td>{{cl.adresse.localite}}</td>
  		<td>{{cl.telPerso}}</td>
  		<td>
  			<a ng-click="modifierLien(cl)">Modifier</a>
  			|
  			<a ng-click="supprimerLien(cl.id)">Supprimer</a>
  		</td>
  	</tr>
  </tbody>
</table>
<hr/>