<h1>Liste des biens immobiliers</h1>
<hr/>

<table class="table table-striped">
  <thead>
  	<tr>
  		<th style="text-align:center">Reference du bien</th>
  		<th style="text-align:center">Photo</th>
  		<th style="text-align:center">Statut</th>
  		<th style="text-align:center">Date de soumission</th>
  		<th style="text-align:center">Localisation</th>
  		<th style="text-align:center">Disponible le</th>
  		<th style="text-align:center">Opérations</th>
  	</tr>
  </thead>
  <tbody>
  	<tr	ng-repeat="bi in listeBiensImmobilier">
  		<td>{{bi.id}}</td>
  		<td><img ng-src="data:image/JPEG;base64,{{bi.photo}}" width="200"/></td>
  		<td>{{bi.statut}}</td>
  		<td>{{bi.dateSoumission}}</td>
  		<td>{{bi.adresse.numero}} {{bi.adresse.rue}} {{bi.adresse.codePostal}} {{bi.adresse.localite}}</td>
  		<td>{{bi.dateDisposition}}</td>
  		<td><a ng-click="modifLinkBi(bi)">Modifier</a> | <a ng-click="deleteLinkBi(bi.id)">Supprimer</td>
  		<td><a ng-click="rechLinkBi(bi.id)">Consulter</a></td>
  	</tr>
  </tbody>
</table>
<hr/>