<h1 style="text-align: center; color: red" ng-show="indice2">{{msg}}</h1>

<h1 style="text-align: center; color: red" ng-hide="indice">Rechercher des biens</h1>

<br />

<form class="form-horizontal" ng-hide="indice">
	<div class="form-group">
		<label for="ID" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" ng-model="id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<!-- 			<button class="btn btn-default" ng-click="getOne(id)">Rechercher</button> -->
			<button class="btn btn-default" ng-click="rechercherBiParId()">Rechercher</button>
		</div>
	</div>
</form>

<table class="table table-striped" ng-show="indice">
	<thead>
		<tr>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-body">Photo</h3>
				</div>
				<img ng-src="data:image/JPEG;base64,{{biOut.photo}}" width="350" />
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Reference</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.id}}</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Statut</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.statut}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Adresse</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.adresse.numero}} {{biOut.adresse.rue}} {{biOut.adresse.codePostal}} {{biOut.adresse.localite}}</div>
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">Soumis le</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.dateSoumission}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Disponible le</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.dateDisposition}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Prix</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.prixAchat}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Caution</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.cautionLocative}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Charge</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.montantMensuelCharges}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Type de bail</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.typeBail}}</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">Etat</div>
				<div class="panel-title">
					<div class="panel-body">{{biOut.etat}}</div>
				</div>
			</div>
		</tr>
	</thead>



</table>


<img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{lat}},{{lng}}&markers=color:red%7Clabel:C%7C{{lat}},{{lng}}&zoom=14&size=600x400&key=AIzaSyC0YbBSL7amcTwd3Z-3WgyTPO5LZsI8Ko0" />