<h1 style="text-align: center; color: red" ng-show="indice2">{{msg}}</h1>

<h1 style="text-align: center; color: red">Rechercher des biens</h1>

<br />

<form class="form-horizontal">
	<div class="form-group">
		<label for="ID" class="col-sm-2 control-label">ID</label>
		<div class="col-sm-10">
			<input type="number" class="form-control" ng-model="id">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<!-- 			<button class="btn btn-default" ng-click="getOne(id)">Rechercher</button> -->
			<button class="btn btn-default" ng-click="rechercherBiParId()">Rechercher</button>
		</div>
	</div>
</form>

<table class="table table-striped" ng-show="indice">
	<thead>
		<tr>
			<th style="text-align: center">Photo</th>
			<th style="text-align: center">Ref</th>
			<th style="text-align: center">Statut</th>
			<th style="text-align: center">Adresse</th>
			<th style="text-align: center">Soumis le </th>
			<th style="text-align: center">Disponible le </th>
			<th style="text-align: center">Prix</th>
		
			<th style="text-align: center">Caution</th>
			<th style="text-align: center">Charge</th>
			<th style="text-align: center">Type de bail</th>
			<th style="text-align: center">Etat</th>
		</tr>
	</thead>

	<tbody>
		<tr ng-model="biOut">
			<td><img ng-src="data:image/JPEG;base64,{{bi.photo}}" width="200"/></td>
			<td>{{biOut.id}}</td>
			<td>{{biOut.statut}}</td>
			<td>{{biOut.adresse.numero}} {{biOut.adresse.rue}} {{biOut.adresse.codePostal} {{biOut.adresse.localite}}</td>
			<td>{{biOut.dateSoumission}}</td>
			<td>{{biOut.dateDisposition}}</td>
			<td>{{biOut.revenuCadastral}}</td>
			
			<td>{{biOut.cautionLocative}}</td>
			<td>{{biOut.montantMensuelCharges}}</td>
			<td>{{biOut.typeBail}}</td>
			<td>{{biOut.garniture}}</td>
			<td></td>
		</tr>
	</tbody>
</table>