<h1>Liste des proprietaires</h1>
<hr/>

<table class="table table-striped">
  <thead>
  	<tr>
  		<th style="text-align:center">#</th>
  		<th style="text-align:center">Nom</th>
  		<th style="text-align:center">Prenom</th>
  		<th style="text-align:center">Num</th>
  		<th style="text-align:center">Rue</th>
  		<th style="text-align:center">Code Postal</th>
  		<th style="text-align:center">Ville</th>
  		<th style="text-align:center">Tel. perso</th>
  		<th style="text-align:center">Tel. pro</th>
  		<th style="text-align:center">Liste biens immobiliers</th>
  		<th style="text-align:center">Operations</th>
  	</tr>
  </thead>
  <tbody>
  	<tr	ng-repeat="p in listeProprietaires">
  		<td>{{p.id}}</td>
  		<td>{{p.nom}}</td>
  		<td>{{p.prenom}}</td>
  		<td>{{p.adresse.numero}}</td>
  		<td>{{p.adresse.rue}}</td>
  		<td>{{p.adresse.codePostal}}</td>
  		<td>{{p.adresse.localite}}</td>
  		<td>{{p.telPerso}}</td>
  		<td>{{p.telPro}}</td>
  		<td><a ng-click="getListeByProprio(p.id)">Afficher</a></td>
  		<td>
  			<a ng-click="modifierLien(p)">Modifier</a>
  			|
  			<a ng-click="supprimerLien(p.id)">Supprimer</a>
  		</td>
  	</tr>
  </tbody>
</table>
<hr/>