<h1>Liste des visites prevues</h1>
<hr/>

      	<form>
      	<i class="glyphicon glyphicon-search fa-pulse"></i>
        <input type="text" ng-model="recherche">         
        </form>


<table class="table table-striped">
  <thead>
  	<tr>
  		<th style="text-align:center">Date et heure de visite</th>
  		<th style="text-align:center">Reference du bien</th>
  		<th style="text-align:center">Photo du bien</th>
  		<th style="text-align:center">Nom de l'agent immobilier</th>
  		<th style="text-align:center">Nom du client</th>
  		<th style="text-align:center">Editer la visite</th>
  	</tr>
  </thead>
  <tbody>
  	<tr	ng-repeat="v in listeVisites | filter: recherche | orderBy: 'date' ">
  		<td>le {{v.date}} a {{v.heure}}</td>
  		<td>{{v.bienImmo.id}}</td>
  		<td><img ng-src="data:image/JPEG;base64,{{v.bienImmo.photo}}" width="200"/>
  		<td>{{v.agent.nom}}</td>
  		<td>{{v.client.nom}} {{v.client.prenom}}</td>
  		<td>
  			<a ng-click="modifierLien(v)">Modifier</a>
  			|
  			<a ng-click="supprimerLien(v.id)">Supprimer</a>
  		</td>
  	</tr>
  </tbody>
</table>
<hr/>