<h1>Modifier les details de la visite</h1>
<hr />
<form class="form-horizontal">

		<div class="form-group">
		<label for="idId" class="col-sm-2 col-sm-offset-2 control-label">Reference
			de la visite</label>
		<div class="col-sm-4">
			<input type="number" class="form-control" id="idId"
				placeholder="Reference de la visite" ng-model="vi.id">
		</div>
	</div>
	
	<div class="form-group">
		<label for="idDate" class="col-sm-2 col-sm-offset-2 control-label">Date de visite</label>
		<div class="col-sm-4">
			<input type="date" class="form-control" id="idDate" ng-model="vi.date">
			<input type="time" class="form-control" id="idDate" ng-model="vi.heure">
		</div> 
	</div>
	<div class="form-group">
		<label for="idRef" class="col-sm-2 col-sm-offset-2 control-label">Reference du bien</label>
		<div class="col-sm-4">
			<select ng-model="vi.bienImmo.id">
			<option ng-repeat="bi in listeBI" ng-value="{{bi.id}}">{{ bi.id }}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="idPrix" class="col-sm-2 col-sm-offset-2 control-label">Nom de l'agent immobilier</label>
		<div class="col-sm-4">
			<select ng-model="vi.agent.id">
			<option ng-repeat="a in listeAgents" ng-value="{{a.id}}">{{ a.nom }}</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<label for="idSuperficie" class="col-sm-2 col-sm-offset-2 control-label">Nom du client</label>
		<div class="col-sm-4">
			<select ng-model="vi.client.id">
			<option ng-repeat="cl in listeClients" value="{{cl.id}}">{{ cl.nom }}</option>
			</select>
		</div>
	</div>
	<button class="btn btn-default" ng-click="modifierVI()">Modifier</button>
</form>
<hr />